@import "./_mainPage";
@import "./login";
// variable de mediaquery
$medium: 359px;
body {
  margin: 0;
  display: flex;

  font-family: "Poppins", sans-serif;
}
p {
  margin: 0;
}
#root {
  display: flex;
  width: 100%;
}
.bodyPage {
  border: 1px black solid;
  width: 360px;
  height: 760px;
  margin: 0 auto;
  display: flex;
  @media screen and (max-width: $medium) {
    width: 100%;
    border: 1px green solid;
    height: 210vw;
  }
}
.blankBase {
  background-color: #fff;
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  border-radius: 24px;
}
