body {
  margin: 0;
  display: flex;
}
#root {
  display: flex;
  width: 100%;
}
.bodyPage {
  background-color: yellow;
  width: 360px;
  height: 760px;
  margin: 0 auto;
  background-image: url("../img/backP2x.png");
}
.prueba {
  color: brown;
  .prueba2 {
    font-size: 3vw;
  }
}
